.section{
        display: none;
}
@media only screen and (min-width: 992px) {
  
.section{
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color:#333e48;

    border-bottom: 1px solid #eaebec;
}
.leftSection > ul{
    display: flex;
    list-style-type: none;
}
.leftSection > ul >li{
    padding-left: 15px;
}

.rightSection > ul{
    display: flex;
    list-style-type: none;
}
.rightSection{
    padding-right: 30px;
}
.rightSection > ul >li{
    padding-right: 15px;
}
.pipe{
    font-size: 10px;
    font-weight: lighter;
}
}